@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo-large.png" />
    <h1 class="display-4">Welcome to MBRRACE-UK</h1>
    <br />
    <br />
    <a asp-controller="People" asp-action="Create" class="btn btn-primary">Add new records</a>
    <a asp-controller="People" asp-action="Index" class="btn btn-info">View list of records</a>
</div>
